/**
 * Place your custom CSS styles here.
 **/

/*
* {
    color: red;
}
*/

#lhstoc.sidebar.left {
    width: 161px;
	height: 100% ;
	top: 0;
	left: 0;
	bottom: 0;
    /*background: #A7D7F9;
    background: #FFFFFF;*/
}

#lhstoc.sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 270px;
    background: #448AFF;
}

#lhstoc.sidebar.bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 270px;
    background: #03A9F4;
}

#lhstoc.sidebar.top {
    left: 0;
    right: 0;
    top: 0;
    height: 270px;
    background: #03A9F4;
}

#lhstoc.sidebar {
    position: fixed;
}
#lhstoc{
	overflow: auto;
	overflow-x: none;
	display: block;
}

#btn_div {
	display: block;
	position: fixed;
	left: 100;
}
#btn_toggle {
	display: block;
	font-size: 0.7em;
	bottom: 20px;
	position: fixed;
	z-index: 10;
}

