#request {
  position: fixed;
  width: 40%;
}

#response {
  float: right;
  width: 50%;
  color: blue;
  font-family: monospace;
}



.container{
  float: left;
  clear: left;
  border: 1px dotted;
}


.left {
  float: left;
  width: 140px;
  border: 1px solid;
  color: blue;
}
